.skills {
  color: #fff;
  background: #000;

  min-height: 500px;
}
.skills .title::before {
  background: #fff;
}
.skills .title::after {
  content: "Que faço";
  background: #000;
}

.skills .skills-content .column {
  width: calc(30% - 10px);
}
.skills .skills-content .column .text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.skills .skills-content .left .bars,
.skills .skills-content .center .bars,
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .left .info,
.skills .skills-content .center .info,
.skills .skills-content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .left span,
.skills .skills-content .center span,
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .left .line,
.skills .skills-content .center .line,
.skills .skills-content .right .line {
  width: 100%;
  height: 5px;
  background: #ccc;
  position: relative;
}
.skills .skills-content .left .line::before,
.skills .skills-content .center .line::before,
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00804b;
}
.skills .skills-content .left .html::before {
  width: 100%;
}
.skills .skills-content .left .css::before {
  width: 100%;
}
.skills .skills-content .left .javascript::before {
  width: 100%;
}
.skills .skills-content .left .react::before {
  width: 100%;
}
.skills .skills-content .center .comunication::before {
  width: 100%;
}
.skills .skills-content .center .creativity::before {
  width: 100%;
}
.skills .skills-content .center .collaboration::before {
  width: 100%;
}
.skills .skills-content .center .empathy::before {
  width: 100%;
}
.skills .skills-content .right .nodejs::before {
  width: 100%;
}

.skills .skills-content .right .express::before {
  width: 100%;
}

.skills .skills-content .right .mysql::before {
  width: 100%;
}
.skills .skills-content .right .postgres::before {
  width: 100%;
}
